.cities {
  width: 100%;
  margin: 4rem; // 64px

  h1 {
    font-weight: 500;
    text-align: right;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem; // 32px
  column-gap: 3.25rem // 52px
}

.card {
  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  border-radius: 1rem; // 16px 

  min-width: 18rem; // 390px
  
  img {
    width: 100%;
    height: 12.5rem; // 200px
    object-fit: cover;
    border-radius: 1rem;// 16px 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .labels {
    margin: 1.5rem; // 24px
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.875rem; // 14px

    // div {
    //   display: flex;
    // }

    p {
      // Ignora o primeiro p
      // & + p {
      //   margin-left: 1.75rem; // 28px;
      // }

      color: var(--text-alt);

      span {
        font-weight: 500;
        color: var(--text-color);
        margin-right: 0.5rem; // 8px
      }    
    }
  }
}