.cities {
  width: 100%;
  margin: 4rem; // 64px


  
.search-area {

  display: flex;
  margin-bottom: 2rem;
 
  h1 {
    font-weight: 500;
    text-align: right;
    margin-left: 2rem;
  }

  }



}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem; // 32px
  column-gap: 3.25rem; // 52px

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }
}
