:root {
  --primary: #b2deeb;
  --background: #f5f8fa;
  --button-color: #ffffff;
  --button-hover: #5be791;
  --border-color: #afafaf;
  --text-color: #000000;
  --text-alt: #5b5b5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--background);
}

h1 {
  font-size: 2.5rem; // 40px
  font-family: 'Poppins', Arial, sans-serif;
}

button {
  font-family: 'Poppins';
  font-weight: 500;
  cursor: pointer;
}