.navbar {
  background-color: var(--primary);
  width: 20rem; // 20 * 16px = 320px

  padding: 4rem 1.5rem; // 64px; 24px;

  h1 {
    font-weight: 700;
  }
}

.button-container {
  display: flex;
  flex-direction: column;

  button {
    &:hover {
      background-color: var(--button-hover);
      color: var(--button-color);
    }

    height: 3.5rem; // 56px;
    background-color: var(--button-color);

    border: none;
    border-radius: 1rem; // 16px
    margin-top: 1.25rem; // 20px

    text-align: left;
    padding: 0 1.5rem; // 24px;

    display: flex;
    align-items: center;

    font-size: 1.125rem; // 18px;

    svg {
      margin-right: 0.5rem; // 8px;
    }    
  }
}