.search-input {
    height: 3.5rem;
    border: 1px solid var(--border-color);

    background-color: var(--button--color);
    border-radius: 1rem;

    display: flex;
    width: 100%;

    input {

        height: 100%;
        width: 100%;


        border: none;
        border-radius: inherit;

        padding: 0 1rem;

        font-size: 1.125rem;

    }
        button {

            border: none;
            border-left: 1px solid;
            border-color: inherit;

            border-top-right-radius: inherit;
            border-bottom-right-radius:inherit;

            background-color: inherit;

            padding: 0 1rem;
            
            font-size: 1rem;

            &:hover {

                background-color: var(--button-hover);
                color: var (--button-color);

            }

        }

}